 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>SOBRE MÍ</h2>
                    <h2>&nbsp;</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                        Mi nombre es <strong>Antonio Calero</strong>, y este es mi blog personal. 
                        Aquí te dejo varias cosas que definen mi forma de pensar:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="small">
                       <span class="fa-stack fa-md"><i class="fa fa-circle-o fa-stack-2x"></i><strong class="fa-stack-1x fa-stack-text fa-inverse">1</strong></span>
                        
                       Somos <strong>personas</strong>, no máquinas.
                    </p>
                    <p class="small">
                       <span class="fa-stack fa-md"><i class="fa fa-circle-o fa-stack-2x"></i><strong class="fa-stack-1x fa-stack-text fa-inverse">2</strong></span>
                        
                        Los juegos pueden cambiar el mundo, que nadie te diga que jugar es cosa de niños.
                    </p>
                    <p class="small">
                       <span class="fa-stack fa-md"><i class="fa fa-circle-o fa-stack-2x"></i><strong class="fa-stack-1x fa-stack-text fa-inverse">3</strong></span>
                       <strong>El trabajo es un proceso infinito</strong>, no tiene final, <strong>no te agobies</strong>.
                    </p>
                    <p class="small">
                       <span class="fa-stack fa-md"><i class="fa fa-circle-o fa-stack-2x"></i><strong class="fa-stack-1x fa-stack-text fa-inverse">4</strong></span>

                        Tenemos la obligación moral de <strong>cambiar el futuro</strong> con lo que hacemos ahora.
                    </p>
                    <p class="small">
                       <span class="fa-stack fa-md"><i class="fa fa-circle-o fa-stack-2x"></i><strong class="fa-stack-1x fa-stack-text fa-inverse">5</strong></span>

                        <strong>Los correos electrónicos son el demonio</strong> para la productividad de las personas.
                    </p>
                    <p class="small">
                       <span class="fa-stack fa-md"><i class="fa fa-circle-o fa-stack-2x"></i><strong class="fa-stack-1x fa-stack-text fa-inverse">6</strong></span>

                        <strong>Intenta salir de la oficina siempre a tiempo</strong>. Nada es más importante que tú y tu vida. Pasar más horas en la oficina significa que tendrás menos tiempo con la familia y con los amigos.
                    </p>
                    <p class="small">
                       <span class="fa-stack fa-md"><i class="fa fa-circle-o fa-stack-2x"></i><strong class="fa-stack-1x fa-stack-text fa-inverse">7</strong></span>

                        <strong>No te rindas</strong>. Insiste, insiste, insiste y al final llegará la recompensa.
                    </p>
                    <!-- p>
                        Si aún quieres saber más de mí puedes acceder a mi línea temporal o a la sección de eventos.
                    </p-->
                </div>
            </div>
        </div>
    </section>